.quizMain {
  box-shadow: "rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px";
  height: 85.5vh;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 6px;
}
.quizleft {
  background-color: white;
  height: 84vh;
  width: 20vw;
  border-radius: 5px;
}
.quizRight {
  background-color: white;
  height: 84vh;
  width: 77vw;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 10px;
}
