.battleCard{
    width: 74vw;
    background-color: white;
    border: 1px solid pink;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px 0;
    /* height: 35vh; */
    padding-bottom: 8px;
}
.battleCardTop{
    margin-bottom: 10px;
    width: 73vw;
}
.battleCardTop h3{
    font-size: 25px;
    width: 73vw;
}
.battleCardBottom{
    margin-top: 5px;
}
.battleCardBottom .p1{
    width: 73vw;
    border: 1px solid pink;
    margin: 2px;
    height: 30px;
    /* text-align: ; */
    align-content: center;
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.battleCardBottom .p1:hover{
    background-color: pink;
    cursor: pointer;
}
.battleCard button{
    width: 5vw;
    height: 4vh;
    margin: 10px;
    border: 2px solid pink ;
    /* */
    font-size: 15px;
    font-weight: 600;
    background-color: white;
    /* margin-bottom: 0; */
}
.battleCard button:hover{
    cursor: pointer;
    background-color: #FB6F90;
    border-radius: 5px; 
}
.checked{
    background-color: pink;
    width: 73vw;
    border: 1px solid pink;
    margin: 2px;
    height: 30px;
    text-align: start;
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}