.squad{
    width: 77vw;
    background-color: white;
    height:85vh ;
    /* border-radius: 5px; */
    margin-left: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0;
}

.squad-text{
    height: 78vh;
    width: 75vw;
    /* background-color: pink; */
    overflow-y: scroll;
}
.squad-input{
    height: 6vh;
    width: 73vw;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}
.squad-input input{
    width: 66vw;
    border: none;
    height: 5vh;
    padding: 4px;
    font-size: 20px;

}
.sendlogo:hover{
    background-color: #FB6F90;
    border-radius: 5px;
}